// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */

h1 {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
}

 #map {
   height: 100%;
 }
 /* Optional: Makes the sample page fill the window. */
 html, body {
   height: 90%;
   margin: auto;
   padding: 0;
   width: 90%;
 }
