<!DOCTYPE html>
<html>
  <head>
    <title>MapsApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- Replace the value of the key parameter with your own API key. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdOBulDSuI6k6DgJYX7VBjOnTqE5n-cd8&callback=initMap" async defer></script>
  <body>

    <%= yield %>
  </body>
</html>
